img {
    width: 80px;

    /* animation: mover 2s linear infinite both; */
    animation:
        mover 2s step-start both;

    &:hover {
        animation-play-state: paused;
        filter: contrast(150%);
        cursor: progress;
    }
}

@keyframes agrandar {
    0% {
        scale: 1;
    }

    25% {
        scale: 1.4;
    }

    50% {
        scale: 2;
    }

    75% {
        scale: 1.6;
    }

    100% {
        scale: 2;
    }
}