.pulse {
    width: 50px;
    height: 50px;
    background: #09f;
    border-radius: 50%;
    position: relative;
    transition-duration: 2s;
    transition-timing-function: ease;
    opacity: 0;

    &:first-child{
        transition-delay: 0s;
    }
    &:nth-child(2){
        transition-delay: 300ms;
    }
    &:nth-child(3){
        transition-delay: 600ms;
    }
}
header{
    margin-bottom: 20px;
}
section{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

section:hover .pulse{
    opacity: 1;
}

body{
    display: grid;
    place-content: center;
    min-height: 50vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


